@model Combo.Models.GroupModel
@{
   ViewBag.Title = "Create";
}
<h2>Create</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>GroupModel</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroupName)
            @Html.ValidationMessageFor(model => model.GroupName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Speciality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Speciality)
            @Html.ValidationMessageFor(model => model.Speciality)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div> 